body {
  background-color: #FDF3E7;
  font-family: 'Raleway', sans-serif;
}
body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/*picture*/

#profile-pic {
  margin-top: 2rem;
  width: 400px;
  height: 350px;
  border-radius: 5%;
  transition-property: opacity;
  transition-duration: 3s;
  opacity: .3;
}

#profile-pic:hover {
  opacity: 1;
}



#project-pics {
  width: 300px;
  height: 250px;
  margin-right: 5rem;
  margin-bottom: 5rem;
  border: 3px solid black;
  transition: border .5s ease-out;
  background-color: rgb(199, 195, 193);
}
#project-pics:hover {
  border: 5px solid white;
  cursor: pointer;
}

#project-mikehohne {
  color: white;
  width: 300px;
  height: 250px;
  margin-right: 5rem;
  margin-bottom: 5rem;
  border: 3px solid black;
  transition: border .5s ease-out;
  background-color: blue;
}

#project-mikehohne:hover {
  border: 5px solid white;
  cursor: pointer;
}

#project-gritter {
  color: white;
  width: 300px;
  height: 250px;
  margin-right: 5rem;
  margin-bottom: 5rem;
  border: 3px solid black;
  transition: border .5s ease-out;
  background-color: red;
}

#project-gritter:hover {
  border: 5px solid white;
  cursor: pointer;
}

#project-jquery {
  color: white;
  width: 300px;
  height: 250px;
  margin-right: 5rem;
  margin-bottom: 5rem;
  border: 3px solid black;
  transition: border .5s ease-out;
  background-color: white;
}

#project-jquery:hover {
  border: 5px solid white;
  cursor: pointer;
}

#project-angular {
  color: white;
  width: 300px;
  height: 250px;
  margin-right: 5rem;
  margin-bottom: 5rem;
  border: 3px solid black;
  transition: border .5s ease-out;
  background-color: transparent;
}

#project-angular:hover {
  border: 5px solid white;
  cursor: pointer;
}





 /*links, social and router links*/
#links {
  margin-left: 1rem;
  font-size: 4rem;
  background-color: rgb(68, 69, 69);
  color: white;
  transition: margin-left 2s ease-out;
}


#links:hover {
  background-color: red;
  color: white;
  margin-left: 3rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.social-links {
  margin: 1rem;
}

#about-links {
  width: 15rem;
  height: 10rem;
  margin: 1rem;
  background-color: grey;
  color: #fff;
  transition: background-color 1s ease-out, color 1s ease-out;
  font-size: 2rem;
}

#about-links:hover {
  cursor: default;
  background-color: #FDF3E7;
  color: rgb(187, 43, 29);
}

.projects {
  padding-top: 5rem;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: 2px solid black;
  background-image: url('http://i.imgur.com/b6hSTW4.jpg');
  background-size: cover;
  background-position: left;
  background-color: transparent;
  background-clip: padding-box;
}

#project-links {
  text-decoration: none;
  color: black;
}

#mediums {
  text-decoration: none;
}



@media only screen and (max-width: 1200px){
  .projects {
    background-image: none;
    display: inline;
    border: none;
  }

  #project-pics {
    width: 300px;
    height: 250px;
    margin-left: 2rem;
  }
}
