<div class="container text-center">
  <button class="btn" type="button" id="about-links" ng-mouseleave='lived=""' ng-mouseover='lived="Twain Harte, CA - Fresno, CA - Bozeman, MT"' ng-init='lived=""' >Lived</button>
  <button class="btn" type="button" id="about-links" ng-mouseleave='education=""' ng-mouseover='education="Fresno State - Montana State - Thinkful Code School - Montana Code School "' ng-init='education=""' >Education</button>
  <button class="btn" type="button" id="about-links" ng-mouseleave='hobbies=""' ng-mouseover='hobbies="baseball - food - movies - history "' ng-init='hobbies=""'>Hobbies</button>
  <button class="btn" type="button" id="about-links" ng-mouseleave='quotes=""' ng-mouseover='quotes="some sort of quote or a different thing here"' ng-init='quotes=""'>Quotes</button>
  <div class="container-fluid text-center">
    <br>
    <br>
    <h3 id="info">{{lived}}</h3>
    <h3 id="info">{{education}}</h3>
    <h3 id="info">{{hobbies}}</h3>
    <h3 id="info">{{quotes}}</h3>
  </div>
</div>
