<div class="container-fluid text-center">
  <div class="social-icons">
    <h1 class="social-links"><i class="fa fa-twitter" aria-hidden="true"> </i></h1>
    <h1 class="social-links"><i class="fa fa-facebook" aria-hidden="true"> </i></h1>
    <h1 class="social-links"><i class="fa fa-github" aria-hidden="true"></i></h1>
  </div>
  <h2><a href="" id="mediums"><i class="fa fa-phone" aria-hidden="true"></i><small> 209 - 352 - 4313</small></a></h2>
  <h2><a href="mailto:mikehohne@gmail.com?Subject=Inquiry" id="mediums"><i class="fa fa-envelope" aria-hidden="true"></i><small> mikehohne@gmail.com</small></a></h2>
</div>
