<div class="container text-center">
  <div class="project-container">
  <ul class="projects">
    <li><img src="./../images/right-here.png" alt="" id="project-pics" /></li>
    <li><img src="./../images/react.jpg" alt="" id="project-pics" /></li>
    <li><img src="./../images/angular.png" alt="" id="project-pics" /></li>
    <li><img src="./../images/gritter.png" alt="" id="project-pics" /></li>
    <li><div id="project-pics"><h1>Gritter</h1></div></li>
    <li><div id="project-pics"><h1>The Guessing Game</h1></div></li>
  </ul>
</div>
</div>

<!-- id="project-pics" -->
