<div class="container text-center">
  <div class="project-container">
  <ul class="projects">
    <li><img src="./../images/right-here.png" alt="" id="project-pics" /></li>
    <li><img src="./../images/react.jpg" alt="" id="project-pics" /></li>
    <li><img src="./../images/angular.png" alt="" id="project-pics" /></li>
    <li><img src="./../images/gritter.png" alt="" id="project-pics" /></li>
    <li><img src="#" alt="" id="project-pics" /></li>
    <li><img src="#" alt="" id="project-pics" /></li>
  </ul>
</div>
</div>
