<div class="container text-center">
  <div class="project-container">
  <ul class="projects">
    <li><a href="https://github.com/mikehohne/jq-game" target="_blank" id="project-links"><img src="./../images/right-here.png" alt="" id="project-pics" /></a></li>
    <li><a href="https://github.com/mikehohne/blog" target="_blank" id="project-links"><img src="./../images/react.jpg" alt="" id="project-pics" /></a></li>
    <li class="angular"><a href="https://github.com/mikehohne/pokemonIndex" target="_blank" id="project-links"><img src="./../images/angular.png" alt="" id="project-angular" /></a></li>
    <li><div id="project-mikehohne"><a href="https://github.com/mikehohne/mikehohne#mikehohne" target="_blank" id="project-links"></a><h1>mikehohne.com<br><br><h2>This website built in Angular<br></h2></h1></div></li>
    <li><div id="project-gritter"><a href="https://fathomless-gritter.herokuapp.com/" target="_blank" id="project-links"><h1>Gritter<br><br><h2>React Layout Grid <br>Application</h2></h1></a></div></li>
    <li><div id="project-jquery"><a href="https://github.com/mikehohne/jq-game" target="_blank" id="project-links"><h1>The Guessing Game <br><h2>Created with JQuery</h2></h1></a></div></li>
  </ul>
</div>
</div>

<!-- id="project-pics" -->
